* {
    box-sizing: border-box;
  }

body {
    background-image: url(../images/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}

p{
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    color: black;
    text-decoration: none;
}

h1{
    margin: 0;
}

header{
    max-width: 1180px;
    background-color: #ccc;
    margin: 0;
    border-bottom-left-radius: 1.35em;
    border-bottom-right-radius: 1.35em;
    border-bottom: #ccc;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1180px;
}

.favorite-nav-header{
    margin-right: 20px;
}
.nav-header{
    display: flex;
}

#buscador{
    padding: 12px;
    border: 1px solid grey;
    float: left;
    width: 80%;
}

form button{
    float: left;
    width: 20%;
    padding: 10px;
    background: black;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

header img{
    width: 100px;
    height: 100px;
}

footer{
    max-width: 1180px;
    background-color: #9627e8;
    margin: 0;
    padding: 20px 0px 20px 0px;
    border-top-left-radius: 1.35em;
    border-top-right-radius: 1.35em;
    border-bottom: #9627e8;
    width: 100%;
    display: flex;
    justify-content: space-around;
    max-width: 1180px;
}

.titulo-section{
    margin-top: 20px;
    margin-bottom: 20px;
}

#main-home {
    display: flex;
    flex-direction: column;
    max-width: 1180px;
}

.una-peli{
    background-color: #ccc;
    border-top-left-radius: 1.35em;
    border-top-right-radius: 1.35em;
    border-bottom-left-radius: 1.35em;
    border-bottom-right-radius: 1.35em;
    padding: 0.1rem;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.una-peli img {
    width: 180px;
    height: 267px;
    align-self: center;
    padding-left: 10px;
    padding-right: 10px;
}

.titulo-peli{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    max-width: 175px;
    padding-left: 15px;
    padding-top: 5px;
}
.una-peli p {
    margin-top: 10px;
    margin-left: 5px;
    max-width: 175px;
}

.genero-fav{
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.genero-peli{
    margin-bottom: 10px;
}

#listado-pelis-populares{
    display: flex;
    flex-direction: row;
    width: 1180px;
}

#listado-series-populares{
    display: flex;
    flex-direction: row;
    width: 1180px;
    margin-bottom: 20px;
}

#main-busqueda{
    display: flex;
    flex-direction: column;
}

.resultados-busqueda{
    max-width: 1180px;
}

.un-resultado{
    max-width: 1180px;
    display: flex;
    background-color: #ccc;
    border-top-left-radius: 1.35em;
    border-top-right-radius: 1.35em;
    border-bottom-left-radius: 1.35em;
    border-bottom-right-radius: 1.35em;
    padding: 0.1rem;
    margin-bottom: 20px;
}

.datos-un-resultado{
    display: flex;
    flex-direction: column;
}

.foto-un-resultado{
    width: 150px;
    height: 222.5;
    align-self: center;
    padding: 10px;
}

.titulo-una-busqueda{
    font-weight: bold;
    font-size: 32px;
}

.titulo-favorito{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-resultado{
    margin-right: 20px;
    height: 30px;
    width: 30px;
}

.icon-3 {
    font-size: 4em;
}
.icon-2 {
    font-size: 2em;
}