* {
    box-sizing: border-box;
  }

body {
    background-image: linear-gradient(#640071, #6b1187, #73289e, #7e44b4, #8e66ca, #a48ee1, #c4bcf7);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
}

p{
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


a{
    color: black;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

header{
    max-width: 1180px;
    background-color: #c4bcf7;
    margin: 0;
    border-bottom-left-radius: 1.35em;
    border-bottom-right-radius: 1.35em;
    border-bottom: #c4bcf7;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1180px;
}

main{
    max-width: 1180px;
}

#titulo-banner-home{
    margin-top: 20px;
    font-size: 48px;
    background-image: url(../images/fondo2.jpg);
    height: 60vh;
    width: 95vw;
    max-width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.favorite-nav-header{
    margin-right: 20px;
}

.nav-header{
    display: flex;
    flex-wrap: wrap;
}

.favorite-nav-header{
    margin-bottom: 10px;
}

#buscador{
    padding: 12px;
    border: 1px solid grey;
    float: left;
    width: 80%;
}

form button{
    float: left;
    width: 20%;
    padding: 10px;
    background: black;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

header img{
    display: table-row;
    width: 100px;
    height: 100px;
}

footer{
    max-width: 1180px;
    background-color: #640071;
    margin: 0;
    padding: 20px 0px 20px 0px;
    border-top-left-radius: 1.35em;
    border-top-right-radius: 1.35em;
    border-bottom: #640071;
    width: 100%;
    display: flex;
    justify-content: space-around;
    max-width: 1180px;
    margin-top: 20px;
}

.titulo-section{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

#banner{
    margin-top: 20px;
}

#main-home {
    display: flex;
    flex-direction: column;
    max-width: 1180px;
    align-items: center;
}

.una-peli{
    background-color: #c4bcf7;
    border-radius: 1.35rem;
    padding: 0.1rem;
    display: flex;
    flex-direction: column;
    width: 18%;
}


.una-peli img {
    width: 80%;
    height: auto;
    align-self: center;
}

.una-peli-img{
    text-align: center;
}

.titulo-peli{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    max-width: 220px;
    padding-left: 15px;
    margin-top: 10px;
}
.una-peli h4 {
    margin-top: 10px;
    margin-left: 5px;
    max-width: 100%;
    font-weight: normal;
    overflow-wrap: anywhere;
}

.fecha-span{
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h4{
    margin-bottom: 0;
}

.genero-fav{
    display: flex;
    align-items: center;
    padding-right: 5px;
    justify-content: space-between;
    width: 100%;
}

.genero-peli{
    margin-bottom: 10px;
}

#listado-pelis-populares{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    max-width: 100vw;
}

.articulos{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#listado-series-populares{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    max-width: 100vw;
}

#listado-series-mas-vistas{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    max-width: 100vw;
}

#main-busqueda{
    display: flex;
    flex-direction: column;
    max-width: 1180px;
}

#resultados{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 95%;
}

.titulo-section{
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.un-resultado{
    max-width: 1180px;
    display: flex;
    background-color: #ccc;
    border-radius: 1.35rem;
    padding: 0.1rem;
    margin-bottom: 20px;
}

.datos-un-resultado{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.foto-un-resultado{
    width: 150px;
    height: 222.5;
    align-self: center;
    padding: 10px;
}

.titulo-una-busqueda{
    font-weight: bold;
    font-size: 32px;
}

.titulo-favorito{
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-resultado{
    margin-right: 20px;
    height: 30px;
    width: 30px;
}

.icon-3 {
    font-size: 4em;
}
.icon-2 {
    font-size: 2em;
}

.contendor-foto-texto{
    position: relative;
    text-align: center;
    color: white;
    font-size: 48px;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#todos-generos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#titulo-busqueda{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
}

#no-encontrado{
    display: none;
}

.un-detalle{ 
    display: flex;
    background-color: #c4bcf7;
    border-radius: 1.35rem;
    padding: 1.35rem;
    margin-bottom: 20px;
}

.datos-un-detalle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.datos-un-detalle h2{
    margin-right: 1px;
}

.un-detalle img {
    max-width: 40vw;
    width: 180px;
    height: 267px;
}

#main-detalle{ 
    display: flex;
    flex-direction: column;
    width: 1180px;
    margin-top: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
}

#main-detalle{
    max-width: 100vw;
}

.foto-contenido{
    display: flex;
    width: 100%;
}

.contenido{
    width: inherit;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido p {
    max-width: fit-content;
}

.sinopsis-reviews{
    display: flex;
}

.sinopsis{
    width: 50%;
    background-color: #c4bcf7;
    border-radius: 1.35rem;
    padding: 1.35rem;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.sinopsis p {
    text-align: center;
}

.reviews{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #c4bcf7;
    border-radius: 1.35rem;
    padding: 1.35rem;
    margin-bottom: 20px;
}

.rating-text{
    margin-top: 10px;
}

.reviews-fotos{
    display: flex;
    justify-content: space-evenly;
}

.logo-rating{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.info-general{
    display: flex;
}

.titulo-fav{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.titulo-fav h1 {
    margin-right: 100px;
}

.sinopsis-reviews .reviews .img-rating{
    width: 50px;
    height: 50px;
}


.un-genero {
    margin-top: 20px;
    font-size: 48px;
    width: 300px;
    height: 285px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    border-radius: 1.35rem;
    color: white;
}

.un-genero h2 {
    font-size: 70%;
}

#comedia{
    background-image: url(https://m.media-amazon.com/images/M/MV5BNzVkYWY4NzYtMWFlZi00YzkwLThhZDItZjcxYTU4ZTMzMDZmXkEyXkFqcGdeQXVyODUxOTU0OTg@._V1_SX300.jpg);
}

#familiar{
    background-image: url(https://m.media-amazon.com/images/M/MV5BZTQyNTU0MDktYTFkYi00ZjNhLWE2ODctMzBkM2U1ZTk3YTMzXkEyXkFqcGdeQXVyNTI4MzE4MDU@._V1_SX300.jpg);
}

#misterio{
    background-image: url(https://m.media-amazon.com/images/M/MV5BNzIxMjYwNDEwN15BMl5BanBnXkFtZTgwMzk5MDI3NTM@._V1_SX300.jpg);
}

#sci-fi{
    background-image: url(https://m.media-amazon.com/images/M/MV5BNTliYjlkNDQtMjFlNS00NjgzLWFmMWEtYmM2Mzc2Zjg3ZjEyXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SX300.jpg);
}

#accion{
    background-image: url(https://m.media-amazon.com/images/M/MV5BNjRmNDI5MjMtMmFhZi00YzcwLWI4ZGItMGI2MjI0N2Q3YmIwXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SX300.jpg);
}

#romance{
    background-image: url(https://m.media-amazon.com/images/M/MV5BMjMxODYyODEzN15BMl5BanBnXkFtZTgwMDk4OTU0MzE@._V1_SX300.jpg);
}

#fantasia{
    background-image: url(https://m.media-amazon.com/images/M/MV5BOTY2NzFjODctOWUzMC00MGZhLTlhNjMtM2Y2ODBiNGY1ZWRiXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_SX300.jpg);
}

#aventura{
    background-image: url(https://m.media-amazon.com/images/M/MV5BMTAyMjQ3OTAxMzNeQTJeQWpwZ15BbWU4MDU0NzA1MzAx._V1_SX300.jpg);
}

#drama{
    background-image: url(https://m.media-amazon.com/images/M/MV5BZmU5NTcwNjktODIwMi00ZmZkLTk4ZWUtYzVjZWQ5ZTZjN2RlXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SX300.jpg);
}

.ultima{
    margin-right: 0px;
    margin-bottom: 0px;
}

@media(max-width:450px){
    body{
        max-width: 450px;
    }

    header{
        justify-content: space-between;
    }

    header form{
        width: 40%;
        margin-left: 10px;
    }

    header img{
        display: table-row;
        width: 75px;
        height: 75px;
    }

    .favorite-nav-header{
        margin-right: 10px;
    }
    #navegacion ul{
        margin-right: 10px;
        overflow-wrap: anywhere;
    }
    
    main{
        max-width: 450px;
    }

    #main-home {
        display: flex;
        flex-direction: column;
        max-width: 450px;
    }
    #listado-pelis-populares{
        display: flex;
        flex-wrap: wrap;
    }

    #listado-pelis-populares div {
        overflow: auto;
        display: flex;
    }

    #listado-series-populares{
        display: flex;
        flex-wrap: wrap;
    }

    #listado-series-populares div {
        overflow: auto;
        display: flex;
    }

    #listado-series-mas-vistas{
        display: flex;
        flex-wrap: wrap;
    }

    #listado-series-mas-vistas div {
        overflow: auto;
        display: flex;
    }

    .una-peli{
        padding: 14px;
        text-decoration: none;
        margin-right: 10px;
        width: 100%;
    }
    .una-peli img {
        width: 40vw;
    }

    .genero-fav {
        flex-wrap: nowrap;
    }

    #resultados{
        width: 95%;
    }

    .contenido{
        margin-left: 10px;
    }

    .un-genero{
        width: 150px;
    }
    
    .ultima{
        margin-right: 0%;
    }
}